<h1>Streaming Pokemon</h1>
<div id="games" class="flex">
  <.live_component
    module={PokeLive.Sidebar}
    id="sidebar"
    target={__MODULE__}
    games={@games}
    selected_game={@selected_game}
  />
  <div class="main flex flex-1">
    <div class="wrapper flex-1 max-w-2xl mx-auto px-6">
      <.live_component
        module={@main_module}
        id={@main_id}
        target={__MODULE__}
        selected_game={@selected_game}
      />
    </div>
  </div>
</div>
